In [13]:
import pandas as pd

df = pd.read_csv('Loan.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [14]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [21]:
for col in df:
     print(df[col].name,"  " , sum(pd.isnull(df[col])))

id    0
member_id    0
loan_amnt    0
funded_amnt    0
funded_amnt_inv    0
term    0
int_rate    0
installment    0
grade    0
sub_grade    0
emp_title    2459
emp_length    1075
home_ownership    0
annual_inc    0
verification_status    0
issue_d    0
loan_status    0
pymnt_plan    0
url    0
desc    12940
purpose    0
title    11
zip_code    0
addr_state    0
dti    0
delinq_2yrs    0
earliest_cr_line    0
inq_last_6mths    0
mths_since_last_delinq    25682
mths_since_last_record    36931
open_acc    0
pub_rec    0
revol_bal    0
revol_util    50
total_acc    0
initial_list_status    0
out_prncp    0
out_prncp_inv    0
total_pymnt    0
total_pymnt_inv    0
total_rec_prncp    0
total_rec_int    0
total_rec_late_fee    0
recoveries    0
collection_recovery_fee    0
last_pymnt_d    71
last_pymnt_amnt    0
next_pymnt_d    38577
last_credit_pull_d    2
collections_12_mths_ex_med    56
mths_since_last_major_derog    39717
policy_code    0
application_type    0
annual_inc_joint    39717
dti_joint    39717
verification_status_joint    39717
acc_now_delinq    0
tot_coll_amt    39717
tot_cur_bal    39717
open_acc_6m    39717
open_il_6m    39717
open_il_12m    39717
open_il_24m    39717
mths_since_rcnt_il    39717
total_bal_il    39717
il_util    39717
open_rv_12m    39717
open_rv_24m    39717
max_bal_bc    39717
all_util    39717
total_rev_hi_lim    39717
inq_fi    39717
total_cu_tl    39717
inq_last_12m    39717
acc_open_past_24mths    39717
avg_cur_bal    39717
bc_open_to_buy    39717
bc_util    39717
chargeoff_within_12_mths    56
delinq_amnt    0
mo_sin_old_il_acct    39717
mo_sin_old_rev_tl_op    39717
mo_sin_rcnt_rev_tl_op    39717
mo_sin_rcnt_tl    39717
mort_acc    39717
mths_since_recent_bc    39717
mths_since_recent_bc_dlq    39717
mths_since_recent_inq    39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd    39717
num_actv_bc_tl    39717
num_actv_rev_tl    39717
num_bc_sats    39717
num_bc_tl    39717
num_il_tl    39717
num_op_rev_tl    39717
num_rev_accts    39717
num_rev_tl_bal_gt_0    39717
num_sats    39717
num_tl_120dpd_2m    39717
num_tl_30dpd    39717
num_tl_90g_dpd_24m    39717
num_tl_op_past_12m    39717
pct_tl_nvr_dlq    39717
percent_bc_gt_75    39717
pub_rec_bankruptcies    697
tax_liens    39
tot_hi_cred_lim    39717
total_bal_ex_mort    39717
total_bc_limit    39717
total_il_high_credit_limit    39717

In [28]:
for col in df:
     if ( (sum(pd.isnull(df[col])) < 39717) & (sum(pd.isnull(df[col])) > 0) ):
        print(df[col].name,"  " , sum(pd.isnull(df[col])))

emp_title    2459
emp_length    1075
desc    12940
title    11
mths_since_last_delinq    25682
mths_since_last_record    36931
revol_util    50
last_pymnt_d    71
next_pymnt_d    38577
last_credit_pull_d    2
collections_12_mths_ex_med    56
chargeoff_within_12_mths    56
pub_rec_bankruptcies    697
tax_liens    39