# Lending Club Case Study

**Problem Statement**

The company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default.  The company can utilise this knowledge for its portfolio and risk assessment.

In [50]:
#Import the libraries
import numpy as np
import pandas as pd

In [51]:
#read the dataset and check the first five rows
df0 = pd.read_csv('loan.csv')
df0.head()

C:\Users\ershr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [52]:
#Check the shape of the dataframe
df0.shape

(39717, 111)

### Data Cleaning and Manipulation
Data Quality Issues can be treated by
- For Missing Values:
    - Dropping the columns containing all null values
    - Dropping the coumns which are not required for the analysis
    - Dropping the rows containing the missing values
    - Imputing the missing values
    - Keep the missing values if they don't affect the analysis
- Incorrect Data Types:
    - Clean certain values 
    - Clean and convert an entire column

In [53]:

df0.info(max_cols=111)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

#### Missing Vaue Treatment

In [54]:
#print null value count for all columns
df0.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

**Drop columns with all null values**

In [55]:
df0 = df0.dropna(axis=1, how="all")
df0.shape

(39717, 57)

In [56]:
# List the coumns which are not required for the analysis. Total 21 columns
list_col = ['delinq_2yrs','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','application_type']

In [57]:
# Drop the coumns which are not required for the analysis. Total 21 columns
df0.drop(list_col,axis=1,inplace = True)

In [58]:
df0.shape

(39717, 36)

In [59]:
# Observe the coumns which are having maximum null values. 
df0.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
mths_since_last_delinq        25682
mths_since_last_record        36931
initial_list_status               0
next_pymnt_d                  38577
collections_12_mths_ex_med       56
policy_code                       0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [60]:
#Define a variable to calculate 85% of total value counts
maxAcceptedNullCount = round(df0.shape[0]*0.85)

In [61]:
#Define a function to delete columns with maximum null vaues
def del_col_null(df):
    for col in df:
        if  (df[col].isnull().sum() >= maxAcceptedNullCount):
            del df[col]

In [ ]:
# Delete the coumns which are having 85% null values. Total 21 columns
del_col_null(df0)

In [62]:
df0.shape

(39717, 34)